Django              
dnspython           
platformdirs        
psycopg2-binary     
pylint              
pylint-django       
pylint-plugin-utils 
pymongo             
python-dotenv       
pytz                
sqlparse            
whitenoise          
